
{% block ouat_entity_adresse_widget %}
	{{ form_row(form.adresse1) }}
	{{ form_row(form.adresse2) }}
	{{ form_row(form.adresse3) }}
	<div class="form-group">
		<label class="control-label col-lg-2">CP</label>
		<div class="col-lg-2">{{ form_widget(form.codePostal) }}</div>
		<label class="control-label col-lg-1">Ville</label>
		<div class="col-lg-7">{{ form_widget(form.ville) }}</div>
		<div style="clear: both"/>
	</div>
	{{ form_row(form.pays) }}
{% endblock %}